#conversejs .chat-head.chat-head-chatbox {
  background-color: #1e5471;
}
#conversejs .chatbox-btn {
  border: 0 solid white;
}
#conversejs .chatbox .chat-body .chat-info.chat-date {
  width: 99%;
  text-align: center;
}
#conversejs .landlord-container .edit-contract-container {
  background-color: #f39c12;
  font-size: 12px;
}

#conversejs .landlord-container .edit-contract-container a{
  width: 100%;
  padding: 15px 5px;
  color: white;
  height: 3rem;
}
#conversejs {
  margin-right: 60px;
}
#conversejs #minimized-chats, #controlbox {
  display: none !important;
}
#conversejs .editing-contract-msg {
  background: #e7b859 none repeat scroll 0 0;
}
#conversejs .left-msg-content, #conversejs .right-msg-content {
  width: 135px;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 4px;
}
#conversejs .left-msg-content {
  float: left;
  background: #ededed none repeat scroll 0 0;
  color: #212121;
}
#conversejs .right-msg-content {
  float: right;
  background: #e7b859 none repeat scroll 0 0;
  color: white;
}
#conversejs .chatbox .chat-body .chat-message {
  clear: both;
}

.controlbox#mySidenav .selected-person {
  border: solid 3px #d35400;
  border-radius: 50%;
}

.controlbox#mySidenav .badge-count {
    position: absolute;
    top: 1px;
    background-color: orange;
    padding: 2px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.controlbox#mySidenav img.avatar {
  width: 38px;
}
.controlbox#mySidenav .current-xmpp-contact .open-chat {
  position: relative;
}
