#conversejs .chatbox .chat-title {
  width: 71%;
  height: auto;
  overflow: inherit;
  transform: translate(27%, -50%);
  top: 50%;
  position: absolute;
}
#conversejs .chat-head.chat-head-chatbox {
  background-color: #1e5471;
}
#conversejs .chat-head.chat-head-chatbox {
  background-color: #1e5471;
}
#conversejs .chatbox {
  width: 270px;
}
#conversejs .chatbox .box-flyout {
  min-width: 270px;
  width: 270px;
}
#conversejs .chat-head .avatar {
  margin-top: 4px;
  margin-left: 6px;
  width: 32px;
  height: 32px;
}
#conversejs .chat-head.online .avatar {
  border: 2px solid green;
}
#conversejs .chat-head.offline .avatar {
  border: 2px solid red;
}
#conversejs .chatbox-btn {
  border: 0 solid white;
}
#conversejs .chatbox .chat-body .chat-info.chat-date {
  width: 99%;
  text-align: center;
}
#conversejs .landlord-container .edit-contract-container {
  background-color: #f39c12;
  font-size: 12px;
}

#conversejs .landlord-container .edit-contract-container a{
  width: 100%;
  padding: 15px 5px;
  color: white;
  height: 3rem;
}
#conversejs {
  margin-right: 60px;
}
/*
#conversejs #controlbox, #conversejs #minimized-chats, #conversejs #toggle-controlbox {
  display: none !important;
}
*/
#conversejs .left-msg-content .chat-msg-content, #conversejs .right-msg-content .chat-msg-content {
  max-width: 165px !important;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
  font-weight: 100;
  line-height: 1.55;
  letter-spacing: 0.2px;
}
#conversejs .left-msg-content .chat-msg-content a {
  color: #f39c12;
}
#conversejs .left-msg-content .chat-msg-content {
  float: left;
  background: #f2f2f2 none repeat scroll 0 0;
  color: #6e7a89;
}
#conversejs .right-msg-content .chat-msg-content {
  float: right;
  background: #e7b859 none repeat scroll 0 0;
  color: #fff;
}
#conversejs .chatbox .chat-body .chat-message {
  clear: both;
}
#conversejs .chat-content .chat-info.chat-date {
  font-size: 13px;
  font-weight: 100;
  line-height: 1.15;
  text-align: center;
  /* color: #a8b6c2; */
  margin-bottom: 8px;
}
#conversejs .chat-msg-author.chat-msg-them img {
 width: 32px;
 height: 32px;
 border-radius: 50%;
}

#conversejs .open-chat .avatar {
  border: solid 3px #d35400;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
#conversejs .chat_submit_box {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: inherit;
  padding: 10px;
  position: absolute;
  width: 100%;
  padding-top: 0;
  background-color: #fff;
}
#conversejs .uk-input-group {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
}
#conversejs .gurdeep-chat-box {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  float: left;
  padding: 3px;
  width: 90%;
}
#conversejs .attacment-buttons{
  position: absolute;
}
#conversejs .chat-toolbar ul {
  width: 265px;
}

#conversejs .chatbox form.sendXMPPMessage .chat-toolbar {
  display: inline-block;
  background: white;
  transform: translate(0,23px);
}
#conversejs #submit_message {
  width: 100%;
  background: transparent none repeat scroll 0 0;
  border: medium none;
  padding: 4px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: 0.7px;
  color: #c6cfd6;
}

#conversejs #submit_message:focus {
  border: 1px solid orange;
  border-radius: 5px;
  outline: none;
}

/*
.controlbox#mySidenav .open-chat .selected-person {
  border: solid 3px #d35400;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.controlbox#mySidenav .badge-count {
    position: absolute;
    top: 1px;
    background-color: orange;
    padding: 2px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.controlbox#mySidenav img.avatar {
  width: 38px;
}
.controlbox#mySidenav .current-xmpp-contact .open-chat {
  position: relative;
}
*/
