<div class="flyout box-flyout">
    <div class="dragresize dragresize-top"></div>
    <div class="dragresize dragresize-topleft"></div>
    <div class="dragresize dragresize-left"></div>
    <div class="chat-head chat-head-chatbox">
        <a class="chatbox-btn close-chatbox-button icon-close" title="{{info_close}}"></a>
        <a href="javascript:void(0)" class='a-chat-title'>
          <div class="chat-title">
            <div>
              {{ title }}
            </div>
            <div>
              <small class='house-title'></small>
            </div>
          </div>
        </a>
        <p class="user-custom-message hide"><p/>
    </div>


    <div class="landlord-container hide" style='display:flex'>
        <div class="landlord-select-dropdown" style='width:60%;'>
          <select name='house' class='houses' style="background: #0d95ce; color: white; display: block;">
          </select>
        </div>
        <div class="edit-contract-container" style='width:40%;'>
          <a class="form-control btn btn-default" href="javascript:void(0)" type="button">
            Edit contract
          </a>
        </div>
    </div>
    <div class="chat-body clearfix" data-jid="{{jid}}">
      <div class="chat-content"></div>
      <div class="new-msgs-indicator hidden">▼ {{ unread_msgs }} ▼</div>
      {[ if (show_textarea) { ]}
      <form class="sendXMPPMessage" action="" method="post">
        <div class="chat_submit_box">
          <div class="uk-input-group">
            <div class="gurdeep-chat-box">
              <textarea type="text" class="md-input chat-textarea" id="submit_message" name="submit_message" placeholder="Write a reply" {[ if(converse.settings.get('readonly_replybox')) { ]}readonly="true"{[ } ]} />
            </div>
            <span class="attacment-buttons">
              {[ if (show_toolbar) { ]}
                  <ul class="chat-toolbar no-text-select"></ul>
              {[ } ]}
            </span>
          </div>
        </div>
        <!--  <textarea type="text" class="chat-textarea" placeholder="{{label_personal_message}}"/> -->
          <input type='hidden' name='house_token' value="" />
          <input type='hidden' name='house_title' value="" />
      </form>
        {[ } ]}
    </div>
</div>
